/*
h1 {
    color: blue;
}
*/

h1 {
    color: red;
    background-color: yellow;
    text-align: center;
    border: 5px black solid;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans Regular';
    border-radius: 25px;
}

.title {
    background-color: gray;
}

#important {
    color: yellow;
}

